<div class="row">
  <div class="col-md-12">
    <img class="headerpic" src="../../assets/header/headerpic.jpg" />
    <div class="row">
      <div class="offset-md-6 col-md-6 nav-bar">
        <span class="header-text">EXHadaasdasdTON</span>
      </div>
      <div class="row">
        <div class="offset-md-6 col-md-6 text-over-image">
          <span class="header-text">EXHIBITION CENTER IN BOSTON</span>
          <div class="row">
            <div class="col-md-12">
              <span class="header-secondary-text">Modern Hotels are patta cool and all that but something happened and we needed to make this site to tell the
                world
              </span>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-6 col-md-6">
              <button class="learn-more-button">LEARN MORE &rarr;</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>