<div class="container-fluid main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center header">
        <h2>
          <span class="primary-text">O U R</span> &nbsp;
          <span class="secondary-text">C L I E NT S</span>
        </h2>
      </div>
    </div>
    <div class="row logo-section">
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
    </div>
    <div class="row logo-section">
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center ">
        <button class="primary-button">WORK TOGETHER &rarr;</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center header">
        <h2>
          <span class="primary-text">G E T </span> &nbsp;
          <span class="secondary-text"> I N &nbsp; T O U C H</span>
        </h2>
      </div>
    </div>
  </div>
</div>