<div class="container-fluid main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center header">
        <h2>
          <span class="white-text">O U R</span> &nbsp;
          <span class="secondary-text">C L I E N T S</span>
        </h2>
      </div>
    </div>
    <div class="row logo-section">
      <div class="col-md-3 text-left">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
      <div class="col-md-3 text-right">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
    </div>
    <div class="row logo-section">
      <div class="col-md-3 text-left">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
      <div class="col-md-3 text-center">
        <img src="../../assets/footer/logo3.png" width="125px" />
      </div>
      <div class="col-md-3 text-right">
        <img src="../../assets/footer/logo2.png" width="125px" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center ">
        <button class="primary-button">WORK TOGETHER &rarr;</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center header">
        <h2>
          <span class="white-text">G E T </span> &nbsp;
          <span class="secondary-text"> I N &nbsp; T O U C H</span>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 primary-text">
        +94 (077) 144 5780
        <br>+94 (077) 144 5780
        <br>305/39, Ferguson Road Mattakkuliya
        <br> dillon@info.com
      </div>

      <div class="col-md-4">
        <div class="row">
          <input class="one-row-text" placeholder="Name" type="text">
        </div>

        <div class="row">
          <input class="one-row-text" placeholder="Email" type="text">
        </div>
      </div>

      <div class="col-md-4">
        <input class="two-row-text" placeholder="Message" type="text">
      </div>

    </div>
  </div>
</div>