.main-content{
    background-color: #333;
}

.header{
    font-family: 'Oswald';
    padding: 2rem;
}

.secondary-text{
    color: #CCC7B1;
}

.primary-text{
    color: #999;
}

.logo-section{
    margin-top: 2rem;    
}

.primary-button{
    background-color: #CCC7B1;
    padding: 14px 50px;
    font-size: 0.8rem;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    margin: 2rem;
    margin-top: 8rem;
    font-weight: 600;
    transition: 0.4s;
}

.primary-button:hover{
    background-color: #CCC7B100;
    padding: 14px 50px;
    font-size: 0.8rem;
    color: white;
    border: 1px solid #CCC7B1;
    border-radius: 100px;
    margin: 2rem;
    margin-top: 8rem;
    font-weight: 600;
}