.text-section{
    
    color: white;

    .heading{
        font-family: 'Poppins', sans-serif;
        font-size: 1.9rem;
        font-weight: 700;
    }
    .content-text{
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 0.8rem;
    }
}

.body-content-image{
    height: 18rem;
    width: 18rem;
}

.heading-two{
    font-size: 1rem;
    font-weight: 600;
}

.main-background{
    background-color: #333;
}

.header{
    font-family: 'Oswald';
    padding: 4rem;
}

.secondary-text{
    color: #CCC7B1;
}

.primary-text{
    color: #999;
}

.white-text{
    color: #FFF;
}

.coloumn-middle{
    padding-left: 3rem;
}