<div class="row">
  <div class="col-md-3 card-one">
    <img class="card-image" src="../../assets/cards/cardthreebg.jpg" />
    <div class="overlay">
      <div class="content-container">
        <div class="title-text text-white">
          PRESIDENTIAL CARE PROJECT IN PARIS
        </div>
        <div class="sideways text-white">
          A R C H I T E C T R U E
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 card-one">
    <img class="card-image" src="../../assets/cards/cardonebg.jpg" />
    <div class="overlay">
      <div class="content-container">
        <div class="title-text text-white">
          PRESIDENTIAL CARE PROJECT IN PARIS
        </div>
        <div class="sideways text-white">
          A R C H I T E C T R U E
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 card-one">
    <img class="card-image" src="../../assets/cards/cardtwobg.jpg" />
    <div class="overlay">
      <div class="content-container">
        <div class="title-text text-white">
          PRESIDENTIAL CARE PROJECT IN PARIS
        </div>
        <div class="sideways text-white">
          A R C H I T E C T R U E
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 card-one">
    <img class="card-image" src="../../assets/cards/cardfourbg.jpg" />
    <div class="overlay">
      <div class="content-container">
        <div class="title-text text-white">
          PRESIDENTIAL CARE PROJECT IN PARIS
        </div>
        <div class="sideways text-white">
          A R C H I T E C T R U E
        </div>
      </div>
    </div>
  </div>
</div>